body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #606c71;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    padding: 96px 80px;
    margin: 0;
    border: none;
}

.project-name {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 52px;
}

.project-tagline {
    margin-bottom: 32px;
    font-weight: normal;
    opacity: 0.7;
    font-size: 20px;
}

.page-header a {
    color: #1e6bb8;
    text-decoration: none;
}

.page-header a:hover {
    text-decoration: underline;
}

.page-header .btn {
    display: inline-block;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 4.8px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 12px 16px;
    font-size: 16px;
}

.page-header .btn + .btn {
    margin-left: 16px;
}

.page-header .btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.main-content {
    padding-top: 32px;
}

.main-content h2 {
    color: #156987;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 16px;
}

#editor {
    height: 91px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#editor:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

#btn {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-70 {
    margin-top: 70px;
}

.site-footer {
    padding-top: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

hr {
    margin-top: 32px;
    margin-bottom: 32px
}

pre {
    padding: 0;
    border: 0;
}
